@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --body-bg: #fff;
  --ttm-bg: #fff;
  --questions-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
  --left-questions-bg: #ececec;
}